### Print numbers from 1 to 5:

In [6]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

### Print even numbers from 2 to 10:

In [2]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

### Calculate the sum of numbers from 1 to 10:

In [3]:
sum_result = 0
for i in range(1, 11):
    sum_result += i
print("Sum:", sum_result)

Sum: 55

### Print elements of a list:

In [5]:
my_list = [10, 20, 30, 40, 50]
for item in my_list:
    print(item)

10
20
30
40
50

### Print characters of a string:

In [7]:
my_string = "Hello"
for char in my_string:
    print(char)

H
e
l
l
o

### Print multiplication table of 7:

In [8]:
num = 7
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

### Iterate over a dictionary:

In [9]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key, value in my_dict.items():
    print(key, "->", value)

a -> 1
b -> 2
c -> 3

### Nested loops to create a pattern:

In [10]:
for i in range(5):
    for j in range(i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [26]:
m_list = [11,2,223,44,55,66]
for i in m_list:
    idx = m_list.index(i)
    print('idx=',idx,'=',i)

idx= 0 = 11
idx= 1 = 2
idx= 2 = 223
idx= 3 = 44
idx= 4 = 55
idx= 5 = 66