In [ ]:
# Nilesh Bhoi
# [ expression condition ]

In [1]:
# Q fruit_list = ['apple','mango','banana','graps'] in this list seprate the fruit which start whith a .

fruit_list = ['apple','mango','banana','graps']
filter_list = [value for value in fruit_list if 'a' in value[0]]
filter_list

['apple']

In [36]:
# print odd-numbers
number_list = [1, 2, 5, 7, 9, 10, 12]
odd_list = [value for value in number_list if value % 2 != 0]
odd_list

[1, 5, 7, 9]

In [37]:
# Print even-numbers
number_list = [1, 2, 5, 7, 9, 10, 12]
even_list = [value for value in number_list if value % 2 == 0]
even_list

[2, 10, 12]

In [38]:
fruit_list

['apple', 'mango', 'banana', 'graps']

In [40]:
# List convert to Upper-Case
upper_list = [value.upper() for value in fruit_list]
upper_list

['APPLE', 'MANGO', 'BANANA', 'GRAPS']

In [41]:
# List convert to Lower-Case
upper_list = ['APPLE', 'MANGO', 'BANANA', 'GRAPS']
lower_list = [value.lower() for value in upper_list]
lower_list

['apple', 'mango', 'banana', 'graps']

In [45]:
# Table of two
two_table = [value*2 for value in range(1,11)]
two_table

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [46]:
# Table of eight
eight_table = [value*8 for value in range(1,11)]
eight_table

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]

In [49]:
# square-root
sq_list = [2,6,8,37,5,21,41]
square_list = [value*value for value in sq_list]
square_list

[4, 36, 64, 1369, 25, 441, 1681]

In [51]:
sq_list = [2,6,8,37,5,21,41]
square_list = [value**2 for value in sq_list]
square_list

[4, 36, 64, 1369, 25, 441, 1681]

In [52]:
# exponential
ep_list = [3,5,1,2,8,9,65,34]
exponential_list = [value**3 for value in ep_list]
exponential_list

[27, 125, 1, 8, 512, 729, 274625, 39304]

In [53]:
# multipication (runtime user value)
a = int(input('enter value a :'))
b = int(input('enter value b :'))
print(a*b)

enter value a : 4
enter value b : 5

20